

@media screen and (max-width:800px) {
    /* body{
        background: black;
    } */

    /* first section starts here */
    .first-leftdiv{
        width: 60%;
        padding: 20px;

    }
    .first-rightdiv{
        width: 40%;
    }
    .linkholder{
        /* border: 3px solid black; */
        flex-direction: column;
        padding-left: 30px;
    }
    .linkholder h4 {
        margin-bottom: 10px;
    }
    .first-leftdiv h1 {
        font-size: 25px;
    }
    .line{
        width: 200px;
    }
    .headingwriteup {
        margin: 15px 0;
    }
    .line {
        width: 200px;
    }
    /* first section ends here */
    /* second section starts here */
    .thirddiv {
        flex-direction: column-reverse;

    }
    .second-rightdiv {
        margin-left: 0;
        margin-top: 30px;
    }
    /* second section ends here */
    /* third section starts here */
    .third-leftdiv {
        margin-top: 30px;
    }
    /* third section ends here */
    footer {
        flex-direction: column;
        text-align: center;
    }
}
